@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

form {
  margin: 5rem auto;
  width: 520px;
  padding: 30px 30px;
  /* border: solid red; */
  display: flex;
  justify-content: center;
  background: #e1e1e1;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 30px;
}

form h2 {
  font-family: Hind;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
}

span {
  color: red;
}

label {
  font-size: 16px;
  font-family: Hind;
  font-weight: 150;
}

#th-first-name {
  width: 150px;
}

#th-last-name {
  width: 150px;
  margin-left: 15px;
}

#en-first-name {
  width: 150px;
}

#en-last-name {
  width: 150px;
  margin-left: 15px;
}

#male {
  margin-left: 8px;
}

#female {
  margin-left: 8px;
}

input {
  padding: 5px 10px;
  border: solid 0.8px #616161;
  border-radius: 5px;
  transition: .5s ease;
}

.input::placeholder {
  color: #6495d8;
}

.input:focus, input:hover {
  outline: none;
  border-color: rgb(108, 122, 246);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

#date {
  color: #616161;
}

select {
  padding: 5px 10px;
  border: solid 0.8px #616161;
  border-radius: 5px;
  color: #616161;
}

#button {
  width: 100%;
  text-align: center;
  /* border: solid red; */
}

#button input {
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border: none;
}